@import url("../iconfont/iconfont.css");

* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

body {
    overflow-x: hidden;
}

.icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dx-body {
    width: 100%;
    height: 100vh;
    background: url(../img/bj.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.dx-memu {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    position: fixed;
    align-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
}

.dx-memu .dx-memu-item {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
}

.dx-memu .dx-memu-item img {
    height: 60px;
    color: #FFFFFF;
}

.dx-memu .dx-memu-item h3 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0;
}

.dx-full {
    width: 200px;
    height: 60px;
    background: rgba(0, 0, 0, .5);
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.layui-layer-molv .layui-layer-title {
    background: #27a1e8 !important;
    color: #fff;
    border: none;
}

.layui-layer-setwin .layui-layer-close1 {
    background-position: 0 !important;
    background: url(../icon/close.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.dx-main {
    padding: 15px;
    height: 100vh;
}

/* footer */
.footer {
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
}

.item-start {
    width: 40px;
    height: 40px;
    cursor: pointer;

}


/* 系统设置 */
.dx-main-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.dx-main-box > .nav-tabs {
    width: 40px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}


.dx-main-box > .nav-tabs > li > a {
    display: inline-block;
    border-color: transparent;
    margin-top: 0;
    border-radius: 0;
    color: #777;

}

.dx-main-box > .nav-tabs > li.active > a {
    border-right: none;
    background: none;
    border-color: #ffffff;
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: 20px;
    color: #1E9FFF;
}

.dx-main-box > .nav-tabs > li > a:hover {
    background-color: transparent;
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: 20px;
}

.stystem-tabs-content {
    position: absolute;
    left: 60px;
    right: 0;
    bottom: 15px;
    top: 15px;
    border-left: 1px solid #F2DEDE;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}

form {
    height: auto;
    overflow: hidden;
}

form label {
    color: #777;
    font-weight: 500;
}

.form-control {
    color: #777;
}

.file-preview-frame {
    margin: 0;
}

.w100 {
    width: 100%;
}

.layui-layer.layui-layer-page.layui-layer-demo {
    top: 150px !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {

    line-height: 2;
    cursor: pointer;
}

.table-img {
    height: 30px;
    border-radius: 100%;
}

.no {
    color: #ff0000;
}

.no:hover,
.no:active,
.no:focus {
    color: #FD482C;
}

.last-th {
    width: 300px !important;
}

.br0 {
    border-radius: 0;
}

.icon-a {
    margin-right: 15px;
    color: #228dff;
    font-size: 20px;
}

.sort{
    width: 40px;
    height: 25px;
    text-align: center;
    color: #777;
    padding: 5px;
}

.dx-add-btn a {
    color: #007DDB !important;
}

@media screen and (max-width: 767px) {

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        min-width: 150px;
        max-width: 300px;
    }

    .last-th {
        min-width: 400px !important;
    }

    .frist-th {
        min-width: 80px !important;
    }

    .dx-btn-submit {
        width: 100%;
        padding: 10px 15px;
    }
}


/* Layui */
.layui-layer-setwin .layui-layer-max,
.layui-layer-setwin .layui-layer-min {
    display: none;
    background-position: -32px -40px;
}

.layui-layer-setwin a {
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    font-size: 12px;
    _overflow: hidden;
}

/* 单选按钮 */
.layui-form-radio > i:hover,
.layui-form-radioed > i {
    color: #27a1e8;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #27a1e8;
    background-color: #27a1e8;
    color: #fff;
}

.disabled {
    background: #DDDDDD;
    color: #55aaff;
}

input,
textarea {
    border-radius: 0 !important;
}

/*默认滚动条样式修改*/
::-webkit-scrollbar {
    width: 5px;
    right:15px;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #34838e;
}

::-webkit-scrollbar-track {
    border: 1px #d3d3d3 solid;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border: 1px #808080 solid;
    border-radius: 10px;
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #ec971f;
}

/*- 编辑器 -*/
#content{
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
    border: none;
    position: static;
    color: #777;
    z-index: 1!important;
}

#upload{
    background: url("../img/no_img.gif") no-repeat center;
    background-size: contain;
}

.edui-default .edui-editor {
    border: 1px solid #d4d4d4;
    background-color: white;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 1!important;
}

.login-body{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 9999;
}

.login-box{
    width: 800px;
    height: 100px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.login-form{
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}

.login-form .form-control{
    transition: all .5s;
    background: transparent;
    border-color: rgba(255,255,255,.12);
    color: #00FF00;
}

.login-form .form-control:focus{
    border-color: #00FF00;
}

.login-form .btn-default {
    color: #efefef;
    background-color: transparent;
    border-color: rgba(255,255,255,.12);
}

.login-form .btn-default:active,
.login-form .btn-default:focus{
    background: transparent;
    border-color: #00FF00;
    outline: transparent!important;
}

.code-img{
    position: absolute;
    width: 200px;
    height: 60px;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    background: darkgoldenrod;
    z-index: 99999;
    text-align: center;
    line-height: 60px;
    border-radius: 0 0 5px 5px;
}