<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>栏目管理 - Window - 后台模板 </title>

    {{include file="common/_style" /}}
</head>
<body>
<div class="container-fluid dx-main">
    <div class="btn-group" style="margin-bottom: 30px;margin-top: 30px;">
        <a href="javascript:;" class="btn btn-primary"
           onclick="dx_openWindowParent('<i style=\'margin-right:6px;\' class=\'glyphicon glyphicon-plus\'></i> Add-添加','{{:url(\'category/add\')}}')">
            <i class="glyphicon glyphicon-plus"></i>
            添加栏目
        </a>
        <button  type="button" class="btn btn-warning" onclick="sort()">
            <i class="glyphicon glyphicon-sort"></i>
            排序
        </button>
        <a href="javascript:;" class="btn btn-success telescopic" data-val="false">
            <i class="glyphicon glyphicon-resize-full"></i>
            展开
        </a>
        <a href="javascript:;" onclick="window.location.reload()" class="btn btn-info"><i
                class="glyphicon glyphicon-refresh"></i>刷新</a>
    </div>
    <div class="table-responsive">
        <form class="form">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="frist-th">ID</th>
                <th>排序</th>
                <th style="min-width: 300px;">栏目名称</th>
                <th>栏目Banner</th>
                <th>栏目类型</th>
                <th>栏目链接</th>
                <th>添加时间</th>
                <th>状态</th>
                <th class="last-th">操作</th>
            </tr>
            </thead>
            <tbody class="category-table cate-tbody">
            {{volist name="list" id="item"}}
                <tr pid={{$item.pid}} cid={{$item.id}} <?php if($item['pid'] !=0){echo ' class="tr-hide"';};?> >

                <td class="frist-th">{{$item.id}}</td>
                <td>
                    <input type="text" name="sort[{{$item.id}}]" value="{{$item.sort}}" class="sort">
                </td>

                <td><i class="glyphicon glyphicon-folder-close icon-a" data-open="on"></i>
                    <span style="color: #1E9FFF;">
                        <?php echo str_repeat('————|',$item['level']*1); ?>
                    </span>
                    <a href="#"> {{$item.title}} </a>
                </td>
                <td>
                    {{if condition="$item.cover_img neq null"}}
                    <img src="{{$item.cover_img}}" class="table-img br0">
                    {{else/}}
                    <img src="/dxcms/img/no_img.gif" alt="暂无图片" class="table-img br0">
                    {{/if}}

                </td>
                <td>
                    {{switch name="$item.type"}}
                    {{case value="1"}}文章列表{{/case}}
                    {{case value="2"}}封面频道{{/case}}
                    {{case value="3"}}站外跳转{{/case}}
                    {{default /}}专题活动
                    {{/switch}}

                </td>
                <td>{{$item.typelink}}</td>
                <td>
                    {{$item.create_time}}
                </td>
                <td>
                    {{if condition="$item.isread eq 1"}}
                    <span class="btn btn-default btn-xs no status" data-name="status" data-id="{{$item.id}}"
                          data-val="{{$item.isread}}">
                            <i class="glyphicon glyphicon-remove"></i> 禁用
                        </span>
                    {{else/}}
                    <span class="btn btn-success btn-xs status" data-name="status" data-id="{{$item.id}}"
                          data-val="{{$item.isread}}">
									<i class="glyphicon glyphicon-ok"></i> 启用
								</span>

                    {{/if}}
                </td>
                <td>
                    <div class="btn-group btn-group-xs" style="position: relative;">
                        <a href="javascript:;" class="btn btn-xs btn-success"
                           onclick="dx_openWindowParent('<i class=\'glyphicon glyphicon-edit\'></i> Edit-编辑','{{:url(\'category/edit\')}}?id={{$item.id}}')">
                            <i class="glyphicon glyphicon-edit"></i> 编辑
                        </a>
                        <a href="javascript:;" class="btn btn-xs btn-primary"
                           onclick="dx_openWindowParent('<i class=\'glyphicon glyphicon-plus\'></i> Add-添加子栏目','{{:url(\'category/add\')}}?pid={{$item.id}}')">
                            <i class="glyphicon glyphicon-plus"></i> 添加子栏目
                        </a>
                        <a href="javascript:;" class="btn btn-xs btn-info">
                            <i class="glyphicon glyphicon-retweet"></i> 转移
                        </a>
                        <a href="javascript:;" class="btn btn-warning" onclick="del(this,'{{$item.id}}')">
                            <i class="glyphicon glyphicon-trash"></i> 删除
                        </a>
                    </div>
                </td>
            </tr>
            {{/volist}}
            </tbody>
        </table>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">
    $('.status').click('on', function () {
        var name = $(this).attr('data-name');
        var id = $(this).attr('data-id');
        var val = $(this).attr('data-val');
        var action;
        if (val > 0) {
            var status = 0;
            action = "禁用";

        } else {
            var status = 1;
            action = "启用";
        }
        if ($(this).hasClass('no')) {
            $(this).attr('class', 'btn btn-xs btn-success status').attr('data-val', '0').html('<i class="glyphicon glyphicon-ok"></i> 启用');
        } else {
            $(this).attr('class', 'btn btn-xs btn-default no status').attr('data-val', '1').html('<i class="glyphicon glyphicon-remove"></i> 禁用');
        }

        $.ajax({
            type: "post",
            url: "{{:url('category/update')}}",
            async: true,
            data: {id: id, isread: status},
            dataType: 'json',
            success: function (data) {
                if (data.code === 0) {
                    layer.msg(data.msg, {icon: 7, anim: 4})
                } else {
                    layer.alert(data.msg, {icon: 1, anim: 1}, function () {
                        layer.closeAll();

                    })
                }
            }
        });
        return false;


    });

    //    删除
    function del(obj, id) {
        layer.confirm('真的删除吗', function (e) {
            $.ajax({
                type: "get",
                url: "{{:url('category/del')}}",
                async: true,
                data: {id: id},
                dataType: 'json',
                success: function (data) {
                    if (data.code === 0) {
                        layer.msg(data.msg, {icon: 7, anim: 4})
                    } else {
                        layer.alert(data.msg, {icon: 1, anim: 1}, function () {
                            layer.closeAll();
                            $(obj).parents("tr").remove();
                        })
                    }
                }
            });
            return false;
        });
    }

    function sort() {
        $.ajax({
            type: "post",
            url: "{{:url('category/sort')}}",
            async: true,
            data: $('form').serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code === 0) {
                    layer.msg(data.msg, {icon: 7, anim: 4})
                } else {
                    layer.alert(data.msg, {icon: 1, anim: 1}, function () {
                        layer.closeAll();
                    })
                }
            }
        });
        return false;
    }

</script>


</html>
