<link rel="stylesheet" type="text/css" href="__ADMIN_TEMPLATE_PATH__/include/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_TEMPLATE_PATH__/include/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_TEMPLATE_PATH__/css/dx-template.css" />

<script src="__ADMIN_TEMPLATE_PATH__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN_TEMPLATE_PATH__/include/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN_TEMPLATE_PATH__/include/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN_TEMPLATE_PATH__/js/dx-template.js" type="text/javascript" charset="utf-8"></script>