<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>系统设置 - Window - 后台模板 </title>

		{{include file="common/_style" /}}
	</head>
	<body>
		<div class="container-fluid dx-main">
			<form action="{{:url('systems/update')}}" method="post" class="layui-form">
				<div class="dx-main-box">
					<!-- title -->
					<ul class="nav nav-tabs stystem-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">站点</a></li>
						<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">安全</a></li>
						<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">邮件</a></li>
						<li role="presentation"><a href="#pay" aria-controls="pay" role="tab" data-toggle="tab">支付</a></li>
						<li role="presentation"><a href="#tel" aria-controls="tel" role="tab" data-toggle="tab">联系</a></li>
						<li role="presentation" class="dx-add-btn">
							<a href="#tel" onclick="dx_openWindowParent('<i style=\'margin-right:6px;\' class=\'glyphicon glyphicon-plus\'></i> Add-添加','{{:url(\'systems/add\')}}')">添加</a>
						</li>
					</ul>
					<!-- title end -->
					<!-- Tab panes -->
					<div class="tab-content stystem-tabs-content">
						<!-- 站点设置 Start -->
						<div role="tabpanel" class="tab-pane col-md-6 active" id="home">
							{{volist name="list" id="item"}}
								{{if condition="$item.pid eq 1"}}
								<div class="form-group">
									<label for="title">{{$item.title}}</label>
									{{if condition="$item.input_type eq 1"}}
									<input type="text" class="form-control" name="{{$item.name}}" value="{{$item.value}}" id="title" autocomplete="off">
									{{/if}}
									{{if condition="$item.input_type eq 2"}}
										<textarea class="form-control" name="{{$item.name}}" rows="3" autocomplete="off">{{$item.value}}</textarea>
									{{/if}}
								</div>
								{{/if}}
							{{/volist}}

						</div>
						<!-- 站点设置 End -->

						<!-- 安全设置 Start -->
						<div role="tabpanel" class="tab-pane col-md-6" id="profile">
							{{volist name="list" id="item"}}
							{{if condition="$item.pid eq 2"}}
							<div class="form-group">
								<label for="title">{{$item.title}}</label>
								{{if condition="$item.input_type eq 1"}}
								<input type="text" class="form-control" name="{{$item.name}}" value="{{$item.value}}" id="title" autocomplete="off">
								{{/if}}
								{{if condition="$item.input_type eq 2"}}
								<textarea class="form-control" name="{{$item.name}}" rows="3" autocomplete="off">{{$item.value}}</textarea>
								{{/if}}
							</div>
							{{/if}}
							{{/volist}}

						</div>
						<!-- 安全设置 End -->


						<!-- 邮件设置 Start -->
						<div role="tabpanel" class="tab-pane col-md-6" id="messages">
							{{volist name="list" id="item"}}
							{{if condition="$item.pid eq 3"}}
							<div class="form-group">
								<label for="title">{{$item.title}}</label>
								{{if condition="$item.input_type eq 1"}}
								<input type="text" class="form-control" name="{{$item.name}}" value="{{$item.value}}" id="title" autocomplete="off">
								{{/if}}
								{{if condition="$item.input_type eq 2"}}
								<textarea class="form-control" name="{{$item.name}}" rows="3" autocomplete="off">{{$item.value}}</textarea>
								{{/if}}
							</div>
							{{/if}}
							{{/volist}}

						</div>
						<!-- 邮件设置 End -->

						<!-- 支付设置 Start -->
						<div role="tabpanel" class="tab-pane col-md-6" id="pay">
							{{volist name="list" id="item"}}
							{{if condition="$item.pid eq 4"}}
							<div class="form-group">
								<label for="title">{{$item.title}}</label>
								{{if condition="$item.input_type eq 1"}}
								<input type="text" class="form-control" name="{{$item.name}}" value="{{$item.value}}" id="title" autocomplete="off">
								{{/if}}
								{{if condition="$item.input_type eq 2"}}
								<textarea class="form-control" name="{{$item.name}}" rows="3" autocomplete="off">{{$item.value}}</textarea>
								{{/if}}
							</div>
							{{/if}}
							{{/volist}}
						</div>
						<!-- 支付设置 End -->

						<!-- 联系方式设置 Start -->
						<div role="tabpanel" class="tab-pane col-md-6" id="tel">
							{{volist name="list" id="item"}}
							{{if condition="$item.pid eq 5"}}
							<div class="form-group">
								<label for="title">{{$item.title}}</label>
								{{if condition="$item.input_type eq 1"}}
								<input type="text" class="form-control" name="{{$item.name}}" value="{{$item.value}}" id="title" autocomplete="off">
								{{/if}}
								{{if condition="$item.input_type eq 2"}}
								<textarea class="form-control" name="{{$item.name}}" rows="3" autocomplete="off">{{$item.value}}</textarea>
								{{/if}}
							</div>
							{{/if}}
							{{/volist}}

						</div>
						<!-- 联系方式设置 End -->
						<div class="btn-box" style="clear: both;padding: 15px;">
							<button type="submit" class="btn btn-primary dx-btn-submit">提交</button>
						</div>

					</div>
				</div>

			</form>
		</div>

	</body>
	<script type="text/javascript">
		function changeState(el) {
			if (el.readOnly) el.checked = el.readOnly = false;
			else if (!el.checked) el.readOnly = el.indeterminate = true;
		}
	</script>
</html>
