<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>文档管理 - Window - 后台模板 </title>
		{{include file="common/_style" /}}
	</head>
	<body>
		<div class="container-fluid dx-main">
			<div class="btn-group" style="margin-bottom: 30px;margin-top: 30px;">
				<a href="javascript:;" class="btn btn-primary" onclick="dx_openWindowParent('<i style=\'margin-right:6px;\' class=\'glyphicon glyphicon-plus\'></i> Add-添加','{{:url(\'article/add\')}}')">
					<i class="glyphicon glyphicon-plus"></i>
					添加
				</a>
				<a href="javascript:;" onclick="window.location.reload()" class="btn btn-info"><i class="glyphicon glyphicon-refresh"></i>刷新</a>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="frist-th">ID</th>
							<th style="width: 60px;">封面</th>
							<th style="min-width: 400px;">标题</th>
							<th style="width: 150px;">栏目</th>
							<th style="width: 150px;">发布人</th>
							<th>添加时间</th>
							<th>状态</th>
							<th class="last-th">操作</th>
						</tr>
					</thead>
					<tbody>
					{{volist name="list" id="item"}}
						<tr>
							<td class="frist-th">{{$item.id}}</td>
							<td>
								{{if condition="$item.thumbnail neq null"}}
								<img src="{{$item.thumbnail}}" class="table-img br0">
								{{else/}}
								<img src="/dxcms/img/no_img.gif" alt="暂无图片" class="table-img br0">
								{{/if}}
							</td>
							<td style="min-width: 400px;">
								<a href="#">{{$item.title}}</a>
							</td>
							<td>
								<a href="#">{{$item.pid}}</a>
							</td>
							<td>{{$item.admin}}</td>
							<td>{{$item.create_time}}</td>
							<td>
								{{if condition="$item.isread eq 1"}}
								<span class="btn btn-default btn-xs no status" data-name="status" data-id="{{$item.id}}"
									  data-val="{{$item.isread}}">
                            <i class="glyphicon glyphicon-remove"></i> 隐藏
                        </span>
								{{else/}}
								<span class="btn btn-success btn-xs status" data-name="status" data-id="{{$item.id}}"
									  data-val="{{$item.isread}}">
									<i class="glyphicon glyphicon-ok"></i> 显示
								</span>

								{{/if}}

							</td>
							<td>
								<div class="btn-group">
									<a href="javascript:;" class="btn btn-xs btn-success" onclick="dx_openWindowParent('<i style=\'margin-right:6px;\' class=\'glyphicon glyphicon-edit\'></i> Edit-编辑','{{:url(\'article/edit\')}}?id={{$item.id}}')">
										<i class="glyphicon glyphicon-edit"></i> 编辑
									</a>
									<a href="javascript:;" class="btn btn-xs btn-warning" onclick="del(this,'{{$item.id}}')">
										<i class="glyphicon glyphicon-trash"></i> 删除
									</a>
								</div>
							</td>
						</tr>
						{{/volist}}
					</tbody>
				</table>
			</div>
			<nav aria-label="Page navigation">
				{{$page}}
			</nav>
		</div>
	</body>
	<script type="text/javascript">
		$('.status').click('on', function () {
			var name = $(this).attr('data-name');
			var id = $(this).attr('data-id');
			var val = $(this).attr('data-val');
			var action;
			if (val > 0) {
				var status = 0;
				action = "禁用";

			} else {
				var status = 1;
				action = "启用";
			}
			if ($(this).hasClass('no')) {
				$(this).attr('class', 'btn btn-xs btn-success status').attr('data-val', '0').html('<i class="glyphicon glyphicon-ok"></i> 显示');
			} else {
				$(this).attr('class', 'btn btn-xs btn-default no status').attr('data-val', '1').html('<i class="glyphicon glyphicon-remove"></i> 隐藏');
			}

			$.ajax({
				type: "post",
				url: "{{:url('article/update')}}",
				async: true,
				data: {id: id, isread: status},
				dataType: 'json',
				success: function (data) {
					if (data.code === 0) {
						layer.msg(data.msg, {icon: 7, anim: 1})
					} else {
						layer.msg(data.msg, {icon: 1, anim: 1,time:3000}, function () {
							layer.closeAll();
						})
					}
				}
			});
			return false;


		});

		//    删除
		function del(obj, id) {
			layer.confirm('真的删除吗', function (e) {
				$.ajax({
					type: "get",
					url: "{{:url('article/del')}}",
					async: true,
					data: {id: id},
					dataType: 'json',
					success: function (data) {
						if (data.code === 0) {
							layer.msg(data.msg, {icon: 7, anim: 4})
						} else {
							layer.msg(data.msg, {icon: 1, anim: 1}, function () {
								layer.closeAll();
								$(obj).parents("tr").remove();
							})
						}
					}
				});
				return false;
			});
		}
	</script>


</html>
